
  <header class="header" ng-controller="GameController">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg z-depth-1-half navbar-dark" style="background-color: #fff">
      <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand black-text" href="#">
          <i style="color: #F98D3F" class="fa fa-circle"></i>
          <i style="color: #256188; margin-left: -13px" class="fa fa-circle"></i>CFH</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon red-text"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item" >
              <a class="nav-link waves-effect waves-light z-depth-3 ml-1 ttp text-center white-text" style="border-radius: 20px; font-size: 15px;"
                href="signup.html"><i class="fa fa-twitter blue-text"></i></a>
            </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light z-depth-3 ml-1 text-center white-text" style="background-color: #F98D3F; border-radius: 20px; font-size: 15px;"
              onclick="startTour()">Take a Tour</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light z-depth-3 ml-1 text-center white-text" style="background-color: #256188; border-radius: 20px; font-size: 15px;"
              ng-click="abandonGame()">Abandon Game</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- mask -->
    <div id="intro" class="view">
      <!-- <div id="intro" class="view mask pattern-1"> -->
      <div class="view mask rgba-black-strong"></div>

<div class="container space">
          <div class="row">
            <div class="col-xl-12">
              <div class="row">
                <div class="col-xl-3">
                  <div data-intro={{gameTour.timerBox}} data-step="2">
                    <timer></timer>
                  </div>
                </div>
                <div class="col-xl-9">
                  <div class="row">
                    <div class="col-xl-12">
                      <div data-intro={{gameTour.questionBox}} data-step="4">
                        <question></question>
                      </div>
                    </div>
                    <div class="col-xl-12">
                      <div data-intro={{gameTour.answerBox}} data-step="5">
                        <answers></answers>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
