<!-- </script>
<div id="app-container" ng-controller="GameController">
  <div id="menu-container">
    <div id="logo">
      <span id="first-word">Cards</span>
      <span id="second-word"> for</span>
      <span id="third-word">Humanity</span>
    </div>
    <div id = 'abandon-game-button' ng-click="abandonGame()">
        Abandon Game
    </div>
        <span id="tweet-container">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfh.io" data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good" data-related="CFH_App">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </span>
  </div>
  <div id="gameplay-container">
    <div id="upper-gameplay-container">
      <div id="menu-timeremaining-container">
        <div id="menu-container">
          <span id="menu-button">Menu</span>
        </div>
        <div id="timer-container">
          <timer></timer>
        </div>
      </div>
      <div id="question-container-outer">
        <question></question>
      </div>
    </div>
    <answers></answers>
  </div>
</div> -->


<header class="header" ng-controller="GameController">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg z-depth-1-half navbar-dark" style="background-color: #fff">
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand black-text" href="#">
        <i style="color: #F98D3F" class="fa fa-circle"></i>
        <i style="color: #256188; margin-left: -13px" class="fa fa-circle"></i>CFH</a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon red-text"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <!-- <li class="nav-item"> -->
          <!-- <a class="nav-link waves-effect waves-light ml-1 text-center white-text" style="background-color: #F98D3F; border-radius: 20px;" href="signup.html"><i style="color: #256188 !important;" class="fa fa-twitter blue-text"></i>Tweet</a> -->
          <button type="button" class="btn btn-white round btn-white z-depth-3 ttp waves-effect waves-light">
            <i style="color: #256188 !important;" class="fa fa-twitter blue-text"></i>
          </button>
          <!-- </li> -->

          <li class="nav-item">
            <a class="nav-link waves-effect waves-light z-depth-3 ml-1 text-center white-text" style="background-color: #F98D3F; border-radius: 20px;"
              href="signup.html">Take a Tour</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light z-depth-3 ml-1 text-center white-text" style="background-color: #256188; border-radius: 20px;"
              ng-click="abandonGame()">Abandon Game</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- mask -->
  <div id="intro" class="view">
    <!-- <div id="intro" class="view mask pattern-1"> -->
    <div class="view mask rgba-black-strong"></div>

    <div class="container space">
      <div class="row">
        <div class="col-xl-12">
          <div class="row">
            <div class="col-xl-3">
              <timer></timer>
            </div>
            <div class="col-xl-9">  
              <div class="row">
                <div class="col-xl-12">
                  <question></question>
                </div>
                <div class="col-xl-12">
                  <answers></answers>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>