<div data-intro={{gameTour.playerBox}} data-step="3">
    <div class="card caz mb-2 z-depth-3" ng-repeat="player in game.players">
        <div id={{player.socketID}}>
          <p class="">{{player.username | upperFirstLetter}}</p>
          <p style="margin-top: -20px;">
            <span class="badge red" ng-show="$index === game.playerIndex"> Player </span>
            <span class="badge cyan" ng-show="$index === game.playerIndex">{{$index + 1}}</span>   
            <span ng-show="isPremium($index)">
              <img class="ml-3 img-fluid avatar" ng-src="./img/avt1.png" alt="">
      
              <!-- <img ng-src="img/king.png" id="king"> -->
            </span>
            <img class="ml-3 img-fluid avatar" ng-src="{{player.avatar}}" alt="">
          </p>
          <p class="text-right mr-3" style="margin-top: -62px;">{{player.points}}/{{game.pointLimit}}</p>
          <div style="margin-top: -18px" class="text-right mr-3" id="czar-container" ng-show="currentCzar($index)">
              <span style="color: #256188;" id='the-czar'>CZAR</span>
            </div>
        </div>
      
      </div>
</div>
