<!-- <div id="main-bod"> -->
  <!-- Fixed Logo & Menu Bar Start -->
  <!-- <div id="top-part">
    <div class="wpb-top-bar">
      <div class="mod-contain" id="navver">
        <div class="row">
          <div class="wpb-logo-container">
            <div id="landing-logo">
              <span id="first-word">Cards</span>
              <span id="second-word"> for</span>
              <span id="third-word">Humanity</span>
            </div>
            <div class="col-md-9 wpb-menu-container">
              <ul class="wpb-main-menu">
                <li><a href="/">Home</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- Fixed Logo & Menu Bar End -->

<!-- header -->
<header class="header">
  <nav class="navbar navbar-expand-lg z-depth-1-half navbar-dark" style="background-color: #fff">
    <div class="container" style="width:100%;">
      <a class="navbar-brand black-text" href="#"><i style="color: #F98D3F" class="fa fa-circle"></i> <i style="color: #256188; margin-left: -13px" class="fa fa-circle"></i>CFH</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon red-text"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto smooth-scroll">
          <li class="nav-item">
            <a class="nav-link black-text" style="border-bottom: 2px solid #F98D3F;" href="#intro">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link black-text" href="#intro">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link black-text" href="#intro">How To Play</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light ml-1 text-center black-text" href="addcenter.html">Charity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light ml-1 text-center white-text" style="background-color: #F98D3F; border-radius: 20px;" href="signup.html">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light ml-1 text-center white-text" style="background-color: #256188; border-radius: 20px;" href="signin.html">Sign In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="intro" class="view">
    <div class="rgba-black-strong view mask"></div>
  <div class="" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <div class="modal-content rounded">
        <div class="modal-header white-text" style="background-color: #256188;">
          <h4 class="title"><i class="fa fa-lock"></i>Sign Up</h4>
        </div>
        <form ng-controller="IndexController">
          <div class="modal-body">
            <div class="md-form form-sm">
              <i style="color: #256188;" class="fa fa-user prefix"></i>
              <input type="text" name="name" value="" id="materialFormNameModalEx1" class="form-control form-control-sm" ng-model="user.name">
              <label for="materialFormNameModalEx1">Your full name</label>
            </div>

            <div class="md-form form-sm">
              <i style="color: #256188;" class="fa fa-user prefix"></i>
              <input type="text" name="username" value="" id="materialFormUserNameModalEx1" class="form-control form-control-sm" ng-model="user.username">
              <label for="materialFormUserNameModalEx1">Enter a username</label>
            </div>

            <div class="md-form form-sm">
              <i style="color: #256188;" class="fa fa-envelope prefix"></i>
              <input type="email" name="email" value="" id="materialFormEmailModalEx1" class="form-control form-control-sm" ng-model="user.email">
              <label for="materialFormEmailModalEx1">Your email</label>
            </div>

            <div class="md-form form-sm">
              {{$scope.password}}
              <i style="color: #256188;" class="fa fa-lock prefix"></i>
              <input type="password" name="password" value="" id="materialFormSubjectModalEx1" class="form-control form-control-sm" ng-model="user.password">
              <label for="materialFormSubjectModalEx1">Your password</label>
            </div>

            <div class="text-center mt-4 mb-2">
              <button type="submit" style="background-color: #256188;" class="btn btn-block round z-depth-1a waves-effect waves-light" ng-click="signup(user)">Sign up</button>
            </div>
            <p style="color: #256188 !important;" class="font-small text-right d-flex justify-content-center mb-3 pt-2"> or Sign up with:</p>
            <div class="row my-3 d-flex justify-content-center">
              <button type="button" class="btn btn-white round mr-md-3 z-depth-1a waves-effect waves-light"><i style="color: #256188 !important;" class="fa fa-facebook blue-text text-center"></i></button>
              <button type="button" class="btn btn-white round btn-white mr-md-3 z-depth-1a waves-effect waves-light"><i style="color: #256188 !important;" class="fa fa-twitter blue-text"></i></button>
              <button type="button" class="btn btn-white round btn-white z-depth-1a waves-effect waves-light"><i style="color: #256188 !important;" class="fa fa-google-plus black-text"></i></button>
            </div>
            <p style="color: #256188 !important;" class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2">Have an account? <a style="color: #F98D3F !important;" href="#" class="ml-1">Sign In</a></p>
          </div>
      </form>
      </div>
    </div>
  </div>
</header>

<!-- Landing Start -->
<!-- <div class="wpb-teaser parallax-background" id="homer">
  <div class="background-opacity"></div>
  <div class="modified-container">
    <div class="row" id="main-text">

    <div id="landing-logo">
      <h2 id="slogan">Sign Up with:</h2>
      <div id="login-buttons">
        <a href="/auth/facebook"><img class="login-item" src="/img/icons/facebook.png"></a>
        <a href="/auth/github"><img class="login-item" src="/img/icons/github.png"></a>
        <a href="/auth/twitter"><img class="login-item" src="/img/icons/twitter.png"></a>
        <a href="/auth/google"><img class="login-item" src="/img/icons/google.png"></a>
      </div>
      <p id="create">Or create a username/password and select an avatar:</p>

      <div class="sign-body">
        <div class="more-sign">
          <form class="signup form-horizontal" action="/users" method="post">
            <div class="control-group">
              <label for="name" class="control-label"></label>
              <div class="controls">
                <input class="input-info" id="name" type="text" name="name" placeholder="Full name" required novalidate />
              </div>
            </div>
            <div class="control-group">
              <label for="email" class="control-label"></label>
              <div class="controls">
                <input class="input-info" id="email" type="email" name="email" placeholder="Email" required novalidate />
              </div>
            </div>
            <div class="control-group">
              <label for="password" class="control-label"></label>
              <div class="controls">
                <input class="input-info" id="password" type="password" name="password" placeholder="Password" required novalidate />
              </div>
            </div>
            <div id="contain-avatars">
              <ul ng-controller="IndexController" class="avatar-list">
                <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                  <input name="avatar" type='radio' value="{{$index}}">
                    <img ng-src="{{avatar}}">
                  </input>
                </li>
              </ul>
            </div>
            <div class="form-actions">
              <button id="sign-up-btn-other" type='submit'>Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div> -->
<!-- </div> -->
