<div class="card roundup trans text-center">
  <div class="mt-3" style="margin: 0 auto">
    <img class="img-fluid shrink" src="./img/stopwatch (3).png" alt="">
  </div>
  <hr>
  <p class="big red-text" ng-bind="game.time"></p>
  <span style="margin-top: -37px" id="timer-status-round" ng-hide="game.state === 'winner has been chosen' || game.state === 'waiting for czar to decide'"> Time Remaining</span>
  <span style="margin-top: -37px" id="timer-status-czar-choosing" ng-show="game.state === 'winner has been chosen'"> Next Round In</span>
  <span style="margin-top: -37px" id="timer-status-czar-choosing" ng-show="game.state === 'waiting for czar to decide'"> Czar Choosing</span>
  <div class="space"></div>
  <div class="card caz">
      <player></player>
</div>