/* Your custom styles */
html,
body,
.header,
#intro {
min-height: 1000vh;
}

.dark {
  color: #000 !important
}

#intro {
  background: url(../img/cfh7.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .btn.btn-md {
  padding: .9rem 5rem;
  font-size: .7rem;
} */

ul {
  list-style: none;
}

.mb-5, .my-5 {
  margin-bottom: .1rem!important;
}

.solidborder {
  border-top: 40px solid #256188;
}

.space {
  margin-top: 80px
}

.fa-caret-right {
  color: #256188
}

.fa-caret-left {
  color: #256188
}

.fa-caret-up {
  color: #256188
}

.fa-caret-down {
  color: #256188
}

.round {
  border-radius: 28px
}

.round-modal {
  border-radius: 11px !important
}

@media(max-width: 575px) {
  .modal-dialog .modal-content {
    margin-top: 62px !important;
  }
  .trans {
    min-height: 84vh !important;
  }
}

@media (max-width: 576px) and (max-width: 767px) {
  .trans {
    min-height: 84vh !important;
  }
}

@media (max-width: 992px) and (max-width: 1199px) {
  .trans {
    min-height: 84vh !important;
  }
}

.modal-dialog .modal-content {
  margin-top: 60px;
}

.rounded {
  margin-top: -41px !important;
}

.navbar .navbar-toggler {
  outline: 0;
  border-width: 0;
  background-color: #256188 !important;
}

.ttp {
  margin-top: -3px
}

.space {
  margin-top: 20px
}

.shrink {
  height: 34px;
  width: 33px
}

.avatar {
  margin-top: -37px;
  height: 40px;
  width: 38px
}

.big {
  font-size: 78px;
  margin-top: -30px;
  text-align: center
}

.roundup {
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;
  height: 100%;
}

.caz {
  height: 48px
}

.custom-blue {
  background-color: #256188;
}

.custom-orange {
  background-color: #F98D3F;
}